body {
    background-color: rgb(180, 143, 214);
    margin: 5%;
}

h1 {
    font-style: oblique;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-bottom: 5%;
}

.b1 {
    float: right;
    margin-top: 10%;
    margin-left: 20%;
}

.b2 {
    float: right;
    padding-left: 10%;
}

.b3 {
    float: right;
    padding-left: 10%;
}

.b4 {
    float: left;
    margin: 10%;
    margin-top: 0%;
}

.b5 {
    float: right;
    margin-top: 5%;
    margin-left: 15%;
}

.b6 {
    float: right;
    margin: 10%;
    margin-top: 0%;
}

.b7 {
    float: right;
    margin-right: 20%;
}

.b8 {
    float: right;
    padding-left: 10%;
}

.b9 {
    float: right;
    padding-left: 10%;
}

.b10 {
    float: left;
    margin-left: 20%;
}

.b11 {
    float: right;
    padding-left: 10%;
}

.text {
    color: white;
    font-style: italic;
    font-size: 200%;
}

.pregunta {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pregunta2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}